<div class="carousel"
  style="max-width:600px; margin:0px auto; overflow:hidden; background:url('https://test-mail-kinetic.bsys3.fr/images/desktop/Background.png') top no-repeat; ; display:flex; flex-direction:column; justify-content:flex-end; position:relative;">
  <input type="radio" name="hero-desktop" id="slide1" checked style="display:none;">
  <input type="radio" name="hero-desktop" id="slide2" style="display:none;">
  <input type="radio" name="hero-desktop" id="slide3" style="display:none;">
  <input type="radio" name="hero-desktop" id="slide4" style="display:none;">
  <input type="radio" name="hero-desktop" id="slide5" style="display:none;">
  <input type="radio" name="hero-desktop" id="slide6" style="display:none;">
  <div class="carousel-track" style=" display:flex; width:auto; transition:transform .7s ease; box-sizing:border-box;">

    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/2-triple-cheeseburger.png" alt="Slide 2"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/3-big-mac.png" alt="Slide 3"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/6-fries.png" alt="Slide 6"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/5-souce.png" alt="Slide 5"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/4-apple-sprite.png" alt="Slide 4"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/1-oreo.png" alt="Slide 1"
        style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
  </div>
  <div class="carousel-dots" style="text-align: center; background: #050303;height: 30px;">
    <label for="slide1"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="slide2"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="slide3"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="slide4"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="slide5"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="slide6"
      style="display:inline-block; width:35px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
  </div>
  <div class="carousel-legend" style="width:100%; height:50px;background:#050303;">
    <img src="https://test-mail-kinetic.bsys3.fr/images/desktop/legend.png" alt="Legend" style="max-width:390px; height:auto; display:block;">
  </div>
  <div class="carousel-nav">
    <label class="prev prev1" for="slide6"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next1" for="slide2"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev2" for="slide1"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next2" for="slide3"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev3" for="slide2"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next3" for="slide4"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev4" for="slide3"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next4" for="slide5"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev5" for="slide4"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next5" for="slide6"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev6" for="slide5"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-left.png" alt="Precedente"></label>
    <label class="next next6" for="slide1"><img src="https://test-mail-kinetic.bsys3.fr/images/desktop/arrow-right.png" alt="Successiva"></label>
  </div>


</div>