<div class="carousel-mobile" style="max-width:430px; margin:0px auto; overflow:hidden; display:flex; flex-direction:column; justify-content:flex-end; position:relative;">
  <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/background.png" alt="" style="position:absolute; left:0; top:0; width:100%; z-index:0; pointer-events:none;">
  <input type="radio" name="hero-mobile" id="mslide1" checked style="display:none;">
  <input type="radio" name="hero-mobile" id="mslide2" style="display:none;">
  <input type="radio" name="hero-mobile" id="mslide3" style="display:none;">
  <input type="radio" name="hero-mobile" id="mslide4" style="display:none;">
  <input type="radio" name="hero-mobile" id="mslide5" style="display:none;">
  <input type="radio" name="hero-mobile" id="mslide6" style="display:none;">
  <div class="carousel-dots" style="text-align:center; background:transparent; position:absolute; z-index:2; bottom:117px; width: 100% ;height:0">
    <label for="mslide1" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="mslide2" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="mslide3" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="mslide4" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="mslide5" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
    <label for="mslide6" style="display:inline-block; width:40px; height:5px; margin:0 6px; border:1px solid rgba(0,0,0,0.25); cursor:pointer;"></label>
  </div>
  <div class="carousel-track" style=" display:flex; width:auto; transition:transform .7s ease; box-sizing:border-box;">
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/1-oreo.png" alt="Slide 1" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/2-triple-cheeseburger.png" alt="Slide 2" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/3-big-mac.png" alt="Slide 3" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/4-apple-sprite.png" alt="Slide 4" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/5-souce.png" alt="Slide 5" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
    <div class="c-slide" style="flex:0 0 100%; box-sizing:border-box;">
      <img src="https://test-mail-kinetic.bsys3.fr/images/mobile/6-fries.png" alt="Slide 6" style="width:100%; height:100%; object-fit:cover;  display:block;">
    </div>
  </div>

  <div class="carousel-nav">
    <label class="prev prev1" for="mslide6"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next1" for="mslide2"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev2" for="mslide1"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next2" for="mslide3"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev3" for="mslide2"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next3" for="mslide4"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev4" for="mslide3"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next4" for="mslide5"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev5" for="mslide4"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next5" for="mslide6"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>

    <label class="prev prev6" for="mslide5"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-left.png" alt="Precedente"></label>
    <label class="next next6" for="mslide1"><img src="https://test-mail-kinetic.bsys3.fr/images/mobile/arrow-right.png" alt="Successiva"></label>
  </div>


</div>
